.rtl .sidebar
{
    left: initial;
    right: 0;
}

.rtl .sidebar .legal,
.rtl .sidebar .user-info,
.rtl .sidebar .menu .list a,
.rtl .demo-google-material-icon,
.rtl .info-box,
.rtl .info-box-2,
.rtl .info-box-3,
.rtl .info-box-4
{
    direction: rtl;
}

.rtl .sidebar .menu .list .header,
.rtl .card,
.rtl .card .header h2,
.rtl .search-bar input[type="text"],
.rtl .demo-icon-container .demo-google-material-icon,
.rtl .block-header,
.rtl .card .header .header-dropdown .dropdown-menu li,
.rtl .form-group .form-control,
.rtl .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.rtl .bootstrap-select.btn-group .dropdown-menu li
{
    text-align: right;
}

.rtl .header .col-xs-12:not(.align-right),
.rtl .progress-bar,
.rtl .dd-item button,
.rtl .nav-tabs li
{
    float:right;
}

.rtl .btn:not(.btn-link):not(.btn-circle) span
{
    float:left;
}

.rtl .bootstrap-select.btn-group .dropdown-toggle .caret
{
    right:initial;
    left:0px;
}

.rtl .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark
{
    right:initial;
    left:15px;
}

.rtl .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text
{
    margin-right: 5px;
}

.rtl [type="checkbox"].filled-in + label:before,.rtl  [type="checkbox"].filled-in + label:after
{
    right:0;
    left: initial;
}

.rtl [type="checkbox"].filled-in + label:before,.rtl [type="checkbox"].filled-in + label:after
{
    left:initial;
    right: 10px;
}
.rtl [type="checkbox"].filled-in + label:after
{
    left:initial;
    right: 0px;
}

.rtl [type="checkbox"] + label
{
    padding-left: initial;
    padding-right: 26px;
}





.rtl [type="checkbox"] + label:before
{
    left:initial;
    right: 10px;
}
.rtl  [type="checkbox"]:not(.filled-in) + label:after
{
    left:initial;
    right: 0;
}

.rtl .form-group .form-line .form-label
{
    left: initial;
    right: 0;
}

.rtl section.content
{
    margin: 100px 315px 0 15px !important;
}

.rtl .sidebar .user-info .info-container .user-helper-dropdown
{
    right: initial;
    left:-3px;
}

.rtl .dropdown-menu.pull-right
{
    left:0;
    right: auto;
}


.rtl .sidebar .menu .list .menu-toggle:after,.rtl .sidebar .menu .list .menu-toggle:before
{
    right:initial;
    left:17px;
}

.rtl .right-sidebar.open
{
    left:0;
}

.rtl .right-sidebar
{
    left:-300px;
}

.rtl .info-box-3 .icon,
.rtl .info-box-4 .icon
{
    right:initial;
    left:10px;
}

.rtl .info-box.hover-expand-effect:after
{
    left:initial;
    right:80px;
}

.rtl .info-box-2.hover-expand-effect:after,
.rtl .info-box-3.hover-expand-effect:after,
.rtl .info-box-4.hover-expand-effect:after
{
    left:initial;
    right: 0px;
}

.rtl .ls-closed .sidebar
{
    margin-left: 0;
    margin-right: -300px;
}

.rtl .overlay-open .sidebar
{
    margin-left: 0;
    margin-right: 0;
}

.rtl .search-bar .search-icon
{
    left:initial;
    right:14px;
}

.rtl .search-bar .close-search
{
    right:initial;
    left:18px;
}


.rtl .card .header .header-dropdown
{
    right: initial;
    left:-15px;
}

.rtl .header .align-right
{
    text-align:left;
    left:50px;
}


.rtl .dashboard-stat-list li .pull-right
{
    float:left !important;
}

.rtl .table,
.rtl .table thead tr th
{
    direction: rtl;
    text-align: right;
}

.rtl.ls-closed .sidebar
{
    margin-right: -300px;
    margin-left: initial;
}

.rtl.overlay-open .sidebar 
{
    margin-right: 0;
    margin-left: initial;
}

.rtl.ls-closed .bars:after, .rtl.ls-closed .bars:before
{
    left:initial;
    right:20px;
}

.rtl.overlay-open .bars:after
{
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    -webkit-transform: scale(-1);
    transform: scale(-1);
}

.rtl .navbar-right .dropdown-menu 
{
    right: initial;
    left: 0;
}
.rtl .navbar-right .dropdown-menu-left 
{
    right: 0;
    left: initial;
}

.rtl .navbar-left 
{
    float: right !important;
}

.rtl .navbar-right 
{
    float: left !important;
    margin-right: -15px;
    display: flex;
}

.rtl .navbar-right  li:first-child 
{
    order: 4;
}
.rtl .navbar-right  li:nth-child(2) 
{
    order: 3;
}
.rtl .navbar-right  li:nth-child(3) 
{
    order: 2;
}
.rtl .navbar-right  li:nth-child(4) 
{
    order: 1;
}

.rtl .navbar-right ~ .navbar-right 
{
    margin-right: 0;
}

.rtl .navbar-header 
{
    float: right;
    margin-right:20px;
}

.rtl .demo-icon-container .demo-google-material-icon .icon-name
{
    left: initial;
    right: 7px;
}

.rtl .dd-list
{
    text-align: left;
}

@media (max-width: 1169px)
{
    .rtl .navbar-toggle
    {
        float:left;
    }
    
    .rtl .navbar .navbar-toggle
    {
        margin-right:initial;
        margin-left:40px;
    }
    
    .rtl .navbar > .container .navbar-brand,.rtl .navbar > .container-fluid .navbar-brand
    {
        text-align: right;
        float:right;
    }
    
    
    .rtl section.content
    {
        margin: 100px 15px 0 15px !important;
    }
    
}



