.rtl .sidebar
{
    left: initial;
    right: 0;
}

.rtl section.content
{
    margin: 100px 315px 0 15px !important;
}


.rtl .sidebar .user-info
{
    direction: rtl;
}

.rtl .sidebar .user-info .info-container .user-helper-dropdown
{
    right: initial;
    left:-3px;
}

.rtl .dropdown-menu.pull-right
{
    left:0;
    right: auto;
}

.rtl .sidebar .menu .list .header
{
    text-align: right;
}

.rtl .sidebar .menu .list a
{
    direction: rtl;
}

.rtl .sidebar .menu .list .menu-toggle:after,.rtl .sidebar .menu .list .menu-toggle:before
{
    right:initial;
    left:17px;
}

.rtl .right-sidebar.open
{
    left:0;
}

.rtl .right-sidebar
{
    left:-300px;
}

.rtl .sidebar .legal
{
    direction: rtl;
}

.rtl .info-box
{
    direction: rtl;
}

.rtl .info-box.hover-expand-effect:after
{
    left:initial;
    right: 80px;
}

.rtl .ls-closed .sidebar
{
    margin-left: 0;
    margin-right: -300px;
}

.rtl .overlay-open .sidebar
{
    margin-left: 0;
    margin-right: 0;
}

.rtl .search-bar .search-icon
{
    left:initial;
    right:14px;
}

.rtl .search-bar .close-search
{
    right:initial;
    left:18px;
}

.rtl .search-bar input[type="text"]
{
    text-align: right;
}

.rtl .block-header
{
    text-align: right;
}

.rtl .card .header .header-dropdown .dropdown-menu li
{
    text-align: right;
}

.rtl .card .header .header-dropdown
{
    right: initial;
    left:-15px;
}

.rtl .card .header h2
{
    text-align: right;
}

.rtl .header .col-xs-12:not(.align-right)
{
    float:right;
}

.rtl .header .align-right
{
    text-align:left;
    left:50px;
}

.rtl .card
{
    text-align: right;
}

.rtl .dashboard-stat-list li .pull-right
{
    float:left !important;
}

.rtl .table
{
    direction: rtl;
    text-align: right;
}

.rtl .table thead tr th
{
    direction: rtl;
    text-align: right;
}

.rtl.ls-closed .sidebar
{
    margin-right: -300px;
    margin-left: initial;
}

.rtl.overlay-open .sidebar 
{
    margin-right: 0;
    margin-left: initial;
}

.rtl.ls-closed .bars:after, .rtl.ls-closed .bars:before
{
    left:initial;
    right:20px;
}

.rtl.overlay-open .bars:after
{
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    -webkit-transform: scale(-1);
    transform: scale(-1);
}

@media (max-width: 1170px)
{
    .rtl .navbar-right .dropdown-menu 
    {
        right: initial;
        left: 0;
    }
    .rtl .navbar-right .dropdown-menu-left 
    {
        right: 0;
        left: initial;
    }
    
    
    .rtl .navbar-left 
    {
        float: right !important;
    }
    .rtl .navbar-right 
    {
        float: left !important;
        margin-right: -15px;
        display: flex;
    }

    .rtl .navbar-right  li:first-child 
    {
      order: 4;
    }
    .rtl .navbar-right  li:nth-child(2) 
    {
      order: 3;
    }
    .rtl .navbar-right  li:nth-child(3) 
    {
      order: 2;
    }
    .rtl .navbar-right  li:nth-child(4) 
    {
      order: 1;
    }
    
    .rtl .navbar-right ~ .navbar-right 
    {
        margin-right: 0;
    }
  
    .rtl .navbar-header 
    {
        float: right;
        margin-right:20px;
    }
    
    .rtl section.content
    {
        margin: 100px 15px 0 15px !important;
    }
    
}



